*{
    padding: 0;
    border:  0;
    margin:  0;
    box-sizing: border-box;
}

:root{
    /*colors*/
    --color-green: #9DFF3A;
    --color-white: #E5E5E5;
    --color-gray1: #999999;
    --color-gray-2: #4D4D4D;
    --color-gray-3: #2E2E2E;
    --color-gray-4: #0F0F0F;
    /*fonts*/
    --font-size-title-1: 64px;
    --font-size-title-2: 48px;
    --font-size-title-3: 40px;
    --font-size-subtitle: 20px;
    --font-size-button: 18px;
    --font-size-text-1: 16px;
    --font-size-text-2: 14px;
    --font-size-caption: 12px;

    --font-family-alexandria:"Alexandria", sans-serif;
}