@import url(./global.css);

body{
    background-color: #000;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.nav-header ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-header ul li a{
    text-decoration: none;
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text-1);
}

.nav-header ul li .active{
    color:  var(--color-white);
}

.container-btn-header{
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn-login{
    text-decoration: none;
    padding: 10px 24px;
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
}

.btn-primary{
    text-decoration:none ;
    padding: 10px 24px;
    border-radius: 40px;
    background-color: var(--color-green);
    font-family: var(--font-family-alexandria);
    color: #000;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 100px
}

.content-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-main span{
    display: flex;
    gap: 8px;
    color: var(--color-green);
    border: 1px solid var(--color-gray-3);
    padding: 10px 3px;
    border-radius: 24px;
    font-family: var(--font-family-alexandria);
    align-self: self-start;
}

h1{
    color: var(--color-white);
    width: 521px;
    font-size: var(--font-size-title-1);
    font-family: var(--font-family-alexandria);
}

.content-main p{
    color: var(--color-gray1);
    font-family: var( --font-family-inter);
    width: 583px;
}

.container-btn-main{
    display: flex;
    gap: 20px;
}

.btn-green{
    background-color: var(--color-green);
    padding: 14px 24px;
    border-radius: 40px;
    color: #000;
    text-decoration: none;
    font-family: var(--font-family-alexandria);
}

.btn-secundary{
    display: flex;
    gap: 6px;
    padding: 15px 24px;
    border: 1px solid var(--color-gray1);
    border-radius: 40px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
}

.section-partners{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    background: var(--color-gray-4);
    padding: 40px 0px;
}

.section-partners h2{
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text-1);
}

.conteiner-images-partners{
    display: flex;
    gap: 50px;
}