@import url(./global.css);

body{
    background-color: #000;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.nav-header ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-header ul li a{
    text-decoration: none;
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text-1);
}

.nav-header ul li .active{
    color:  var(--color-white);
}

.container-btn-header{
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn-login{
    text-decoration: none;
    padding: 10px 24px;
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
}

.btn-primary{
    text-decoration:none ;
    padding: 10px 24px;
    border-radius: 40px;
    background-color: var(--color-green);
    font-family: var(--font-family-alexandria);
    color: #000;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 100px
}

.content-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-main span{
    display: flex;
    gap: 8px;
    color: var(--color-green);
    border: 1px solid var(--color-gray-3);
    padding: 10px 3px;
    border-radius: 24px;
    font-family: var(--font-family-alexandria);
    align-self: self-start;
}

h1{
    color: var(--color-white);
    width: 521px;
    font-size: var(--font-size-title-1);
    font-family: var(--font-family-alexandria);
}

.content-main p{
    color: var(--color-gray1);
    font-family: var( --font-family-inter);
    font-size: var(--font-size-subtitle);
    width: 584px;
}

.container-btn-main{
    display: flex;
    gap: 20px;
}

.btn-green{
    background-color: var(--color-green);
    padding: 14px 24px;
    border-radius: 40px;
    color: #000;
    text-decoration: none;
    font-family: var(--font-family-alexandria);
}

.btn-secundary{
    display: flex;
    gap: 6px;
    padding: 15px 24px;
    border: 1px solid var(--color-gray1);
    border-radius: 40px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-alexandria);
}

.section-partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 40px 0px;
    background: var(--color-gray-4);
}

.section-partners h2{
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text-1);
}

.conteiner-images-partners{
    display: flex;
    gap: 50px;
}

.section-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 0px;
}

.content-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content-breakdown span{
    color: var(--color-green);
    border: 1px solid var(--color-gray-3);
    padding: 12px 20px;
    border-radius: 24px;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text-2);
}

.content-breakdown h2{
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title-2);
    color: var(--color-white);
    font-weight: 400px;
}

.content-breakdown p{
    font-family: var(--font-family-inter);
    color: var(--color-gray1);
    font-size: 18px;
    width: 572px;
    text-align: center;
}

.conteiner-cards-breakdown{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-breakdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    padding: 48px 36px;
    background-color: #ffffff04;
    border: solid 1px var(--color-gray-3);
    border-radius: 12px;
}

.card-breakdown div{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.card-breakdown div h3{
    color: var(--color-white);
    font-size: var(--font-size-subtitle);
    font-family: var(--font-family-inter);
    font-weight: 400px;
}

.card-breakdown div p{
    color: var(--color-gray1);
    font-size: var(--font-size-text-1);
    font-family: var(--font-family-alexandria);
    width: 338px;
}

.section-statistics{
    background-color: var(--color-gray-4);
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: var(--color-gray-4);
    padding: 60px 0px;
}

.content-statistics{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.content-statistics span{
    color: var(--color-green);
    border: 1px solid var(--color-gray-3);
    padding: 12px 20px;
    border-radius: 24px;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text-2);
}

.content-statistics h2 {
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title-2);
    font-weight: 400;
}

.content-statistics p{
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var( --font-size-button);
    width: 644px;
    text-align: center;
    line-height: 140%;
}

.container-number-statistics{
    display: flex;
    justify-content: center;
    gap: 72px;
}

.number-statistics{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.number-statistics h3{
    color: var(--color-green);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title-2);
    font-weight: 400px;
}

.number-statistics p{
    color: var(--color-gray1);
    font-family: var(--font-family-inter);   
}

.section-blockchain{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 0px;
}

.content-blockchain{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.content-blockchain span {
    color: var(--color-green);
    border: 1px solid var(--color-gray-3);
    border-radius: 24px;
    padding: 12px 20px;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text-2)
}

.content-blockchain h2{
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title-2);
    color: var(--color-white);
    font-weight: 400px;
    text-transform: capitalize;
}

.content-blockchain p{
    font-family: var(--font-family-inter);
    font-size: var(--font-size-button);
    color: var(--color-gray1);
    text-align: center;
    width: 644px;
    line-height: 140%;
}

.container-blockchain{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.conteiner-cards-blockchain{
    display: flex; 
    flex-direction: column;
    gap: 40px;
}

.card-blockchain{
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: var(--color-gray-4);
    border: 1px solid var(--color-gray-2);
    padding: 30px 20px;
    border-radius: 20px;
}

.card-blockchain h3{
    color: var(--color-white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-subtitle);
    line-height: 140%;
    font-weight: 400px;
    width: 530px;
}

.card-blockchain p{
    color: var(--color-gray1);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text-1);
    width: 530px;
}

.section-faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 0px;
    background-color: var(--color-gray-4);
}

.content-faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.content-faq span{
    color: var(--color-green);
    padding: 12px 20px;
    border: solid 1px var(--color-gray-3);
    border-radius: 24px;
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text-2);
}

.content-faq h2{
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-title-2);
    font-weight: 400px;
    text-transform: capitalize;
}

.content-faq p{
    color: var(--color-gray1);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-button);
    text-align: center;
    width: 664px;
    line-height: 140%;
}

.conteiner-faq{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.faq-itens{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: solid 1px var(--color-gray-3);
    width: 792px;
}

.faq-itens h3{
    color: var(--color-white);
    font-family: var(--font-family-alexandria);
    font-size: var(--font-size-text-1);
    font-weight: 400px;
}
